.card {
  background: var(--color-bg-secondary);
  border-radius: var(--radius);
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 8px 8px 16px 0px var(--box-shadow);
  -webkit-box-shadow: 8px 8px 16px 0px var(--box-shadow);
  -moz-box-shadow: 8px 8px 16px 0px var(--box-shadow);
}

.card:hover {
  transform: translateY(-4px);
  /*box-shadow: var(--shadow-md);*/
}

.desc {
  margin: 0.5rem 0 1rem;
  color: var(--color-text-secondary);
}

.updated {
  font-size: 0.9rem;
  color: var(--color-text-tertiary);
}

.links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.link {
  color: var(--color-accent);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: var(--color-accent-hover);
}

.readme summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Прибрати стандартний браузерний disclosure marker */
.readme summary::-webkit-details-marker {
  display: none;
}

/* Стиль SVG-іконки */
.icon {
  width: 1rem;
  height: 1rem;
  color: #0bff01; /* 🔸 колір трикутника / стрілки */
  transition: transform 0.25s ease;
}

/* Анімація при відкритті details */
.readme[open] .icon {
  transform: rotate(90deg);
}
