.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper  {
  padding: 4px 12px;
  background-color:var(--color-accent);
  border-radius: 100px;
  box-shadow: inset #fff3 4px 4px 8px 2px,
    inset hsla(0, 0%, 0%, 0.502) -4px -4px 8px 2px;
  
}
.logoWrapper:hover {
  transform: translateY(-1px) scale(1.04);
  box-shadow: 0px 2px 8px 0px var(--box-shadow); 
}

